// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ad-left {
  float: left;
}


.ad-right {
  float: left;
  margin-left:20px;
}
